- experts.includes(:category).each do |expert|
  - category = expert.category.name
  %article.expert{data: {category: category, name: expert.last_name}}
    %figure= link_to image_tag(expert.photo.url(:big)), expert_path(expert), title: expert.full_name if expert.photo.url
    %h3= link_to expert.name, expert_path(expert)
    %p= expert.description
    %ul.work-info
      - unless expert.workplace.blank?
        %li
          %span= t 'pages.experts.workplace'
          = expert.workplace
      - unless expert.post.blank?
        %li
          %span= t 'pages.experts.post'
          = expert.post
    %footer= link_to t('pages.experts.expert_opinions'), expert_path(expert)