- collection.each do |news|
  %article
    - if news.logo.url
      %figure= image_tag news.logo.url(:thumb) if news.logo.url
    .get-desc
      %h3= link_to news.title, news
      %p= h truncate news.content, length: 250, separator: ' '
    %footer= link_to t('pages.news.read_more'), news
    .get-relative.get-wrap= render partial: 'shared/tag_links', locals: { news: news }