#opinions_wrapper
  %h4= t 'pages.opinions.title'
  #opinions
    - Opinion.all.last(3).each do |opinion|
      .opinion
        .photo= image_tag opinion.expert.photo.url(:bw)
        .content
          .title= h truncate opinion.content, length: 175, separator: ' '
          .name
            = opinion.expert.first_name + ' ' + opinion.expert.last_name + ", "
            = opinion.expert.position
  .link= link_to t('pages.opinions.link'), '#'