#get-rating_block.get-gradient.get-shadow

  %header
    #minimize.get-rating_link
      = link_to t('pages.top_ratings.minimize'), '#'
    #maximize.get-rating_link
      = link_to t('pages.top_ratings.maximize'), '#'
    = t 'pages.top_ratings.title'
    - last_month = Rating.last_month
    = link_to last_month.month_i18n, monthly_experts_path(last_month.month_path)
  #ratings
    %article
      - i = 0
      - Rating.joins(:region).where("regions.name_ru not like ? or regions.name_ru not like ?", 'Город Москва', 'Санкт-Петербург').top(10).to_a.in_groups_of(5).each do |ratings|
        %ul
          - ratings.each do |rating|
            - break unless rating
            - i += 1
            = ratings_row i, rating.region.name, ("%g" % rating.value)
    %footer= link_to t('pages.top_ratings.links'), ratings_path, class: "get-icon_link"
