%section.get-content_side.get-shadow.no-width_pad.get-news_content
  %h1= @category.name
  - unless @news.blank?
    .news-cats.get-gradient.width-full
      %section
        - @news.each do |news|
          %article
            - if news.logo.url
              %figure= image_tag news.logo.url(:thumb)
            .get-desc
              %h3= link_to news.title, news
              %p= h truncate Sanitize.clean(news.content, remove_contents: ['h1','h2','h3','h4']), length: 400, separator: ' '
            %footer= link_to t('pages.news.read_more'), news
            .get-relative.get-wrap= render partial: 'shared/tag_links', locals: { news: news }
= render 'shared/news_sidebar'