%section.get-content_side.get-shadow.no-width_pad.get-news_content
  %h1= t 'pages.news.title'

  %h2.actual= t 'pages.news.latest'
  .news-cats.get-gradient.width-full
    - actual = News.main.actual.limit(3)
    %section= render partial: 'shared/news', locals: { collection: actual }

  - News.main.where('news.id not in (?)', actual.map(&:id)).group_by(&:category).each do |category, category_news|
    %h2= category.name.mb_chars.upcase.to_s
    .news-cats.get-gradient.content-news_block
      %section
        - category_news.first(3).each do |news|
          %article
            %h3= link_to news.title, news
            %p= h truncate Sanitize.clean(news.content, remove_contents: ['h1','h2','h3','h4']), length: 150, separator: ' '
            = render partial: 'shared/tag_links', locals: { news: news }
            %footer= link_to t('pages.news.read_more'), news
        .get-all_items= link_to 'Все публикации', category_news_index_path(category), :class=>"get-icon_link"

  - pc_news = News.press_centre
  - unless pc_news.blank?
    %h2.no-bg= t 'pages.news.press_centre'
    .get-content_menu.get-pad
      %ul.press-centre
        %li.preview= link_to t('pages.news.preview'), '#'
        %li.online= link_to "ON-LINE", '#'
        %li.press= link_to t('pages.news.press'), '#'
    .news-cats.content-news_block.get-publications.items-3
      %section#press-centre
        - pc_news.each do |news|
          - name = t('pages.news.preview') if news.announcement
          - name = t('pages.news.press') unless news.published_by.blank?
          - name = "ON-LINE" if news.online
          %article.press-centre{data: {category: name}}
            - unless news.published_by.blank?
              %span= news.published_by+":"
            %h3= link_to news.title, news
            %p= h truncate Sanitize.clean(news.content, remove_contents: ['h1','h2','h3','h4']), length: 150, separator: ' '
            %footer
              - if news.online
                %span.get-bradius.on-line Online
              - else
                = link_to 'Читать полностью', news

  .get-pager.press-centre

= render 'shared/news_sidebar'
.content-wrapper= render 'shared/opinions'