%section.get-content_side.get-shadow.no-width_pad.get-news_content
  %h1= t 'pages.news.title'
  .get-gradient
    %figure= image_tag @news.logo.url(:thumb) if @news.logo.url(:thumb)
    .get-content_short
      %h2.title= @news.title
      %p= raw @news.content
    .get-content_short
      = render partial: 'shared/tag_links', locals: { news: @news }
  - unless @news.opinions.blank?
    .get-content_short.get-content_full
      - @news.opinions.each do |opinion|
        %blockquote= raw opinion.content

= render 'shared/news_sidebar'
.content-wrapper= render 'shared/opinions'