#news_single
  %h2= @news.title
  .image= image_tag @news.logo.url(:thumb)
  .content_block
    .content= @news.content
    .links
      = link_to t('pages.news.region_link'), ratings_path
      |
      = link_to @news.region.name, ratings_path if @news.region
      |
      = link_to t('pages.news.shareholder'), '#'