%section.get-content_side-full.get-shadow.no-width_pad
  .container
    #rating_chart

  %aside.rating-dashboard
    %table.region
      %tr
        %th.t_checkbox
        %th.t_position #
        %th.t_name= t 'pages.ratings.name'
        %th.t_emblem
        %th.t_rating= t 'pages.ratings.rating'
        %th.t_change= t 'pages.ratings.change'
        %th.t_trend Тренд
      %tr
        %td.idle{:colspan=>"7"}
      - Rating.top.each_with_index do |rating, i|
        - lm_rating = Rating.last_month_ratings.map(&:region).index(rating.region)
        - change = lm_rating ? lm_rating - i : 0
        %tr
          %td.checkbox= check_box_tag 'region', rating.region.id
          %td.position= i+1
          %td.name= rating.region.name
          %td.emblem= image_tag rating.region.emblem.url(:icon)
          %td.rating= rating.value
          %td.change= change > 0 ? "+#{change}" : "#{change}"
          %td.trend
            -#%span.get-up Вверх
            %span.get-down Вниз
    .get-text
      %p Таким образом, ФедБренд - это единая площадка для оценки, анализа, обсуждения и обучения тонкостям региональной информационной политики для развития Субъектов Федерации.
      %h2 Политика
      %p «Федеральный бренд» (ФедБренд)  - репутационный рейтинг регионов, основанный на постоянном мониторинге медиапространства РФ и экспертных оценках  PR-профилей субъектов Федерации. Цель проекта «ФедБренд»  - популяризировать тему управления репутацией для успешной жизнедеятельности регионов.
      %h2 Преимущества рейтинга &laquo;Федеральный бренд&raquo;
      %ul
        %li Масштабный периодический рейтинг, построенный на собственной авторской  методике.
        %li Выход на новый уровень в вопросе  управления репутацией. С помощью ведущих специалистов в вопросах PR мы надеемся привлечь руководителей госслужбы на местах к этому обсуждению и заинтересовать региональные власти всерьез относиться к информационной политике своего региона и использовать разные инструменты (а не только заказные статьи и сюжеты, как это принято сейчас).
        %li Международное сотрудничество. Благодаря ряду экспертов из стран Европы (Германия, Франция)  Японии и США, мы наглядно покажем, что репутация региона - это не только внутри федеральный, показатель, но и очень важный признак для успешной международной работы.

  %aside.rating-info
    %h2 О методике рейтинга
    %p В рейтинге «Федеральный бренд» (Федбренд) участвуют все регионы Российской Федерации. Москва и Санкт-Петербург находятся в рейтинге на особом положении (так как обладают рядом особенностей и отличаются от основной массы регионов). По уникальной авторской методике мы подсчитываем репутационный индекс региона, в основе которого несколько показателей.
    %p Первый, количественный – выводится из числа профильных публикаций на федеральном и региональном уровнях, а также – их тональности. Качественный показатель - то совокупность экспертных оценок.  В число экспертов рейтинга входят аналитики, известные экономисты, политологи, ведущие журналисты, а также руководители, ответственные за привлечение инвестиций в регионы, сенаторы и депутаты.
    %article
      %header
        %span.get-bradius 1
      %h3 Количество публикаций в федеральных и региональных СМИ с разделением по тональности   (позитивные и негативные) – количественный показатель.
      %p На протяжении месяца осуществляется мониторинг ключевых региональных событий. В качестве выбранных для анализа выступают публикации с упоминанием каждого из регионов по ключевым словам, характеризующим репутационную привлекательность региона.
    %article
      %header
        %span.get-bradius 2
      %h3 Количество публикаций в федеральных и региональных СМИ с разделением по тональности   (позитивные и негативные) – количественный показатель.
      %p На протяжении месяца осуществляется мониторинг ключевых региональных событий. В качестве выбранных для анализа выступают публикации с упоминанием каждого из регионов по ключевым словам, характеризующим репутационную привлекательность региона.