#rating_chart

#rating_dashboard
  %ul
    %li.checkbox &nbsp
    %li.position #
    %li.name Субъект РФ
    %li.emblem &nbsp
    %li.rating Рейтинг
    %li.change Изменения за месяц

  - last_month = Rating.order('date DESC').first.date.at_beginning_of_month
  - last_month_ratings = Rating.sum('ratings.value', conditions: ['date < ?', last_month], group: 'regions.id', order: 'SUM(value) DESC').map(&:first)

  - Rating.sum('ratings.value', group: 'regions.id', order: 'SUM(value) DESC').each_with_index do |(region_id, rating), i|
    - region = Region.find region_id
    - change = last_month_ratings.index(region_id) - i

    %ul.region
      %li.checkbox= check_box_tag 'region', region.id
      %li.position= i+1
      %li.name= region.name
      %li.emblem= image_tag region.emblem.url(:icon)
      %li.rating= rating
      %li.change= change > 0 ? "+#{change}" : "#{change}"