%section.get-content_side.get-shadow.get-gradient
  %h1= t 'pages.contacts.map.title'
  %figure
    %p= t 'pages.contacts.map.address'
    %iframe(width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%D0%A2%D0%B2%D0%B5%D1%80%D1%81%D0%BA%D0%B0%D1%8F+9+%D1%817&amp;aq=&amp;sll=55.758563,37.612789&amp;sspn=0.004075,0.013078&amp;ie=UTF8&amp;hq=&amp;hnear=%D1%83%D0%BB.+%D0%A2%D0%B2%D0%B5%D1%80%D1%81%D0%BA%D0%B0%D1%8F,+9+%D1%81%D1%82%D1%80%D0%BE%D0%B5%D0%BD%D0%B8%D0%B5+7,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&amp;t=m&amp;ll=55.759312,37.610364&amp;spn=0.005795,0.013733&amp;z=16&amp;output=embed")

%section.get-sidebar.get-shadow.get-contacts_sidebar
  %h2= t 'pages.contacts.contact_us.title'
  %article.get-phone
    %p= t 'pages.contacts.contact_us.phone'
    %h3 (495) 940-60-83
  %article
    %p E-mail
    %h3= link_to 'welcome@fedbrend.ru', 'mailto:welcome@fedbrend.ru'
