%section.get-content_side.get-shadow.get-gradient
  %h1= t 'pages.contacts.map.title'
  %figure
    %p= t 'pages.contacts.map.address'
    = image_tag '/assets/tmp/fedbrand_map.jpg'

%section.get-sidebar.get-shadow.get-contacts_sidebar
  %h2= t 'pages.contacts.contact_us.title'
  %article.get-phone
    %p= t 'pages.contacts.contact_us.phone'
    %h3 (495) 940-60-83
  %article
    %p E-mail
    %h3= link_to 'welcome@fedbrand.ru', 'mailto:welcome@fedbrand.ru'
