#news_home
  %h4= t 'pages.home.news.title'
  %ul
    - News.all.last(4).each do |news|
      %li
        .title= link_to news.title, news
        .content= h truncate news.content, length: 220, separator: ' '
        .link= link_to t('pages.home.news.link'), news

= render 'shared/videos'
= render 'shared/partners'
= render 'shared/opinions'
