#news_short
  = t 'pages.home.news.title'
  %ul
    - News.all.last(4).each do |news|
      %li
        .title= link_to news.title, news
        .content= h truncate news.content, length: 220, separator: ' '
        .link= link_to t('pages.home.news.link'), news

#videos
  = t 'pages.home.videos.title'

= render 'shared/partners'

#opinions
  - Opinion.all.last(3).each do |opinion|
    .opinion
      .photo= image_tag opinion.expert.photo.url(:thumb)
      .content
        .title= h truncate opinion.content, length: 175, separator: ' '
        .name
          = opinion.expert.first_name + ' ' + opinion.expert.last_name + ", "
          = opinion.expert.position
  .link= link_to t('pages.home.opinions.link'), '#'
