%section.index-block.content-news_block.get-shadow
  %h2= t 'pages.home.news.title'
  - News.where(main_page: true).limit(4).each do |news|
    %article
      %h3= link_to news.title, news
      %p= h truncate Sanitize.clean(news.content, remove_contents: ['h1','h2','h3','h4']), length: 220, separator: ' '
      %footer= link_to t('pages.home.news.link'), news, :class=>'get-icon_link'

%section.index-block.index-video_block.get-shadow= render 'shared/videos'
= render 'shared/partners'
.content-wrapper= render 'shared/opinions'