#news_home
  = t 'pages.home.news.title'
  %ul
    - News.all.last(4).each do |news|
      %li
        .title= link_to news.title, news
        .content= h truncate news.content, length: 220, separator: ' '
        .link= link_to t('pages.home.news.link'), news

#videos
  = I18n.t('pages.home.videos.title')

  - Video.all.last(3).each do |video|
    .video
      .thumb= link_to image_tag(video.thumb), '#'
      .title= link_to video.title, '#'

= render 'shared/partners'

#opinions_wrapper
  #opinions
    - Opinion.all.last(3).each do |opinion|
      .opinion
        .photo= image_tag opinion.expert.photo.url(:bw)
        .content
          .title= h truncate opinion.content, length: 175, separator: ' '
          .name
            = opinion.expert.first_name + ' ' + opinion.expert.last_name + ", "
            = opinion.expert.position
  .link= link_to t('pages.home.opinions.link'), '#'
