%section.get-content_side-full.get-shadow
  .container
    .link-back= link_to t('pages.awards.back'), awards_path

    .get-content_menu.awards-nav= render 'shared/awards_nav'

  #years
    - last_award = Award.where(ended: true).last
    - Award.where(ended: true).each do |award|
      = link_to_unless_current award.year, archive_awards_path(award.year)
      = "|" unless award == last_award

  - if @award and @award.ended
    .block
      - nominee_winners = @award.nominees.where winner: true
      - unless nominee_winners.blank?
        .winners
          .title= t 'pages.awards.winners'
          - nominee_winners.each do |winner|
            .content
              %p= link_to winner.award_category.title, '#'
              = winner.title

      .jury
        - jurors = @award.jurors
        - unless jurors.blank?
          .title= t 'pages.awards.jury'
          - jurors.each do |juror|
            - next unless juror.expert
            .content
              .image= link_to image_tag(juror.expert.photo.url(:thumb)), '#'
              .info
                = link_to juror.expert.name, expert_path(juror.expert)
                %p= juror.expert.position

  .published
    - all_news = @award.news.limit(4)
    - unless all_news.blank?
      = t 'pages.awards.published'
      .news_block
        - all_news.each do |news|
          .news_single
            .title= link_to news.title, news
            .content= h truncate news.content, length: 100, separator: ' '
            .link= link_to t('pages.home.news.link'), news
