%section.get-content_side-full.get-shadow
  .container
    .link-back= link_to t('pages.awards.back'), awards_path

    .get-content_menu.awards-nav= render 'shared/awards_nav'

  .get-content_menu.get-archive_years
    - last_award = Award.where(ended: true).last
    %ul
      - Award.where(ended: true).each do |award|
        %li= link_to_unless_current award.year, archive_awards_path(award.year)

  - if @award and @award.ended
    .get-gradient.awards-archieve_block
      .container
        - nominee_winners = @award.nominees.where winner: true
        - unless nominee_winners.blank?
          %aside.get-winners
            %h2= t 'pages.awards.winners'
            - nominee_winners.each do |winner|
              %article
                %h3= link_to winner.award_category.title, '#'
                %p= winner.title
              %article
                %h3= link_to winner.award_category.title, '#'
                %p= winner.title

        %aside.get-jury
          - jurors = @award.jurors
          - unless jurors.blank?
            %h2= t 'pages.awards.jury'
            - jurors.each do |juror|
              - next unless juror.expert
              %article
                %figure
                  - photo = juror.expert.photo.url(:thumb)
                  %p= link_to image_tag(photo), '#' if photo
                %aside
                  %h3= link_to juror.expert.name, expert_path(juror.expert)
                  %p= juror.expert.position
  .get-news_content
    - all_news = @award.news.limit(4)
    - unless all_news.blank?
      .news-cats.content-news_block.get-publications.items-4
        %h2= t 'pages.awards.published'
        %section
          - all_news.each do |news|
            %article
              %h3= link_to news.title, news
              %p= h truncate strip_tags(news.content), length: 100, separator: ' '
              %footer= link_to t('pages.home.news.link'), news
