%section.get-content_side.get-awards.get-shadow.no-width_pad
  .get-gradient
    %h1= t 'pages.awards.title'
    .get-content_menu.awards-nav= render 'shared/awards_nav'

    %article.get-text
      %figure= image_tag '/assets/tmp/award_main.jpg'
      - content = Static.find_by_name("Awards_index").try(:content)
      = raw content unless content.blank?
  .get-pdf= link_to 'Скачать презентацию', '#'

= render 'shared/partners'