- award = Award.where("ended is not true").last

%section.get-content_side-full.get-experts_block.get-shadow
  .container
    .link-back= link_to t('pages.awards.back'), awards_path
    .get-content_menu.awards-nav= render 'shared/awards_nav'
  - if award
    .get-news_content.nominees-block
      %h1= link_to t('pages.awards.nominees')+' '+award.year.to_s, '#'
      .news-cats.content-news_block
        - Nominee.where(award_id: award.id).limit(3).each do |nominee|
          %article
            .get-date= nominee.date.strftime('%d.%m.%Y')
            %h3= nominee.region.name+':'
            %p= nominee.title
            %footer= link_to t('pages.news.read_more'), '#'
    .container.nominees-experts
      %h2= link_to t('pages.awards.experts')+' '+award.year.to_s, '#'
    .get-experts_category.get-gradient.items-3
      - experts = Expert.joins(:jurors).where(jurors: { award_id: award.id })
      = render partial: 'shared/experts', locals: { experts: experts }

%section.get-shadow.nominees-slider#nominees-slider
  %h2= t('pages.awards.gallery')+' '+award.year.to_s
  - gallery = Gallery.where(award_id: award.id).last
  - if gallery
    - if gallery.images.length > 5
      - $gallery_class = 'get-pad_arrows'
      .horizontal-carousel_link= link_to 'Назад', '#', :id=>'nominees-slider_prev'
      .horizontal-carousel_link= link_to 'Вперед', '#', :id=>'nominees-slider_next'
    .jcarousel.horizontal-slider{:class=>"#{$gallery_class}"}
      %ul
        - gallery.images.each do |image|
          %li= link_to image_tag(image.file.url(:thumb)), image.file.url if image.file.url