- award = Award.where("ended is not true").last

#awards_nominees
  = link_to t('pages.awards.back'), awards_path

  = render 'shared/awards_nav'

  - if award
    .nominees
      %h1= link_to t('pages.awards.nominees')+' '+award.year.to_s, '#'
      - Nominee.where(award_id: award.id).limit(3).each do |nominee|
        .nominee_block
          = nominee.date.strftime('%d.%m.%Y')
          %h3= nominee.region.name+':'
          .content= nominee.title
          .read_more= link_to t('pages.news.read_more')

    .experts
      %h1= link_to t('pages.awards.experts')+' '+award.year.to_s, '#'
      - experts = Expert.joins(:jurors).where(jurors: { award_id: award.id })
      = render partial: 'shared/experts', locals: { experts: experts }

    .gallery
      %h1= link_to t('pages.awards.gallery')+' '+award.year.to_s, '#'
      - gallery = Gallery.where(award_id: award.id).last
      - if gallery
        - gallery.images.each do |image|
          = link_to image_tag(image.file.url(:thumb)), image.file.url