%section.get-content_side-full.get-shadow
  .container.organizers
    %h2= t 'pages.nav.organizers'
    / .link-back= link_to t('pages.awards.back'), awards_path

    / .get-content_menu.awards-nav= render 'shared/awards_nav'

  .container
    %article.get-organizer_main
      %figure= image_tag '/assets/tmp/award_main_organizer.jpg'
      - content = Static.find_by_name('Awards_organizers').try(:content)
      %aside= raw content unless content.blank?
  .get-gradient.awards-partners_block.awards-partners_block-main
    .container
      %article
        %figure= image_tag '/assets/tmp/thumb_136_136.jpg'
        %aside
          %h1 Нина Исайченко
          %p.get-work_post
            генеральный директор PMCG «Art&Smart»,
            %br
            идеолог  проекта «Федеральный бренд»:
          %p Старт проекта «Федеральный бренд» именно в настоящий момент неслучаен и обусловлен качественными позитивными изменениями, при которых возрастает роль общественного мнения, начинает выстраиваться диалог власти и общества. «Федеральный бренд» 2013 поможет обозначить границы и инструменты маркетинга территорий, проанализировать реализацию значимых проводимых проектов в каждом из регионов, а также повысит уровень коммуникации регионов при помощи обмена позитивным опытом. Проект предоставляет возможность регионам поучиться друг у друга и совместно обсудить похожие вопросы, а также – дает слово настоящим специалистам по продвижению регионов с тем, чтобы современный и важный процесс развития экономической привлекательности территорий шел по профессиональному и эффективному сценарию.
          /%footer= link_to 'Читать полностью', '#'
  .container.awards-partners_block
    - Partner.all.group_by(&:group).sort.reverse.each do |group, partners|
      .group
        %h2= group
        - partners.each do |partner|
          %article
            %header
              %figure= link_to image_tag(partner.logo.url(:thumb)), partner.url if partner.logo.url
            - expert = partner.experts.first
            - if expert
              %figure= link_to image_tag(expert.photo.url(:medium)), expert.photo.url if expert.photo.url
              %aside
                %h3= link_to expert.name, expert
                %p.get-work_post= expert.position
                %p= h truncate expert.description, length: 150, separator: ' '
                %footer= link_to t('pages.news.read_more'), expert
