%html
  %head
    = title
    = stylesheet_link_tag 'application'
    = include_gon watch: true
  %body
    - if flash[:notice]
      .alert.alert-success=flash[:notice]
    - if flash[:alert]
      .alert.alert-error=flash[:alert]
    #header-with-content
      #header
        = render 'shared/locale'
      #nav
        = render 'shared/navbar'
      #content
        = yield
    #footer

  = javascript_include_tag 'application'
  %script{ type: 'text/javascript', src: 'http://www.google.com/jsapi' }
