%html
  %head
    = title
    = stylesheet_link_tag 'application'
    = include_gon
  %body
    - if flash[:notice]
      .alert.alert-success=flash[:notice]
    - if flash[:alert]
      .alert.alert-error=flash[:alert]
    #nav
      = link_to_unless I18n.locale == :ru, "Рус", locale: nil
      |
      = link_to_unless I18n.locale == :en, "Eng", locale: "en"
    #container
      = yield
  = javascript_include_tag 'application'
  %script{ type: 'text/javascript', src: 'http://www.google.com/jsapi' }
