= link_to t('pages.ratings.back'), ratings_path
%p
  = t 'pages.ratings.experts'
  = @date.month_i18n

#monthly_experts
  - @experts.group_by(&:category).each do |category, experts|
    .category
      %h2= category.name
      = render partial: 'shared/experts', locals: { experts: experts }

  .links
    = link_to t('pages.ratings.experts')+' '+I18n.l(@date.prev_month, format: '%B').mb_chars.upcase.to_s, monthly_experts_path(@date.prev_month.month_path)
    |
    = link_to t('pages.ratings.all_experts'), '#'