%section.get-content_side-full.get-experts_block.get-shadow
  - prev_month_path  = monthly_experts_path(@date.prev_month.month_path)
  - prev_month_class = 'disabled' unless Month.month(@date.prev_month)
  - next_month_path  = monthly_experts_path(@date.next_month.month_path)
  - next_month_class = 'disabled' unless Month.month(@date.next_month)

  .container
    .experts-switcher
      %h1= t 'pages.experts.experts'
      %ul
        %li= link_to 'Предыдущий месяц', prev_month_path, :title=>"Предыдущий месяц", class: "get-prev #{prev_month_class}"
        %li.get-label
          %span= @date.month_i18n
        %li= link_to 'Следующий месяц', next_month_path, :title=>"Следующий месяц", class: "get-next #{next_month_class}"

    - @experts.includes(:category).group_by(&:category).each do |category, experts|
      %h2= category.name
      .get-experts_category.get-gradient
        = render partial: 'shared/experts', locals: { experts: experts }

  .get-pager.experts-pager
    %ul
      %li.get-link.get-prev_link= link_to t('pages.experts.experts')+' '+I18n.l(@date.prev_month, format: '%B').mb_chars.upcase.to_s, prev_month_path, :class=>'no-active'
      %li.get-link.get-next_link= link_to t('pages.experts.all_experts'), experts_path